<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eau Claire's Salon</title>
    <link rel="stylesheet" type="text/css" href="">
    <link rel="stylesheet" type="text/css" href="~/styles/global.css">
  </head>

  <body>
    <header>
      @Html.Partial("StylistsHeader")
    </header>

    <main>
      @RenderBody()
    </main>

    <footer>
      @Html.Partial("StylistsFooter")
    </footer>
  </body>
</html>