<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eau Claire's Salon</title>
    <link rel="stylesheet" type="text/css" href="~/styles/global.css" />
  </head>

  <header>
    @Html.Partial("StylistsHeader")
  </header>

  <body>
    @RenderBody()
  </body>

  <footer>
    @Html.Partial("StylistsFooter")
  </footer>
</html>