<h1>Welcome to Eau Claire's Salon</h1>

<p>This is a splash page. In future versions, this page will feature salon branding and splash text for stylists and clients.</p>

<p id="get-started">@Html.ActionLink("Browse our stylists", "Index", "Stylists")</p>